source https://nuget.org/api/v2
source https://ci.appveyor.com/nuget/fsharp-formatting

nuget FSharp.Core

nuget FAKE 5.0.0-beta020
nuget FSharp.Formatting 3.0.0-beta08 beta

github fsharp/FAKE modules/Octokit/Octokit.fsx

nuget Expecto
nuget Expecto.BenchmarkDotNet
nuget Expecto.FsCheck
nuget Expecto.VisualStudio.TestAdapter version_in_path: true